@font-face {
    font-family: regularFont;
    src: url(assets/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: boldFont;
    src: url(assets/AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: lightFont;
    src: url(assets/AeonikTRIAL-Light.otf);
}
:root{
    --primaryColor:#E3E3E3;
    --secondaryColor:#456882;
    --trinityColor:#234C6A;
    --trinityColor2:#1B3C53;
}
@mixin flex($direction,$justify,$align){
    display: flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;
}
