@import "helper";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--trinityColor);
  @include flex(row, center, flex-start);
  font-size: var(--bodyFontSize);
  font-family: regularFont;
}
::-webkit-scrollbar {
  display: none;
}
main {
  width: 100%;
  max-width: 3000px;
  background-color: var(--trinityColor2);
  @include flex(column, flex-start, flex-start);
  position: relative;
  flex-wrap: wrap;
  .showcase {
    width: 100%;
    min-height: 80svh;
    @include flex(row, flex-start, flex-start);
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
    &:has(.box:hover) .box {
      scale: 0.9;
    }
    &:has(.box:active) .box {
      scale: 0.9;
    }
    .box {
      flex: 1 1 250px;
      position: relative;
      @include flex(column, center, center);
      transition: all 0.3s linear;
      cursor: pointer;
      &:hover {
        scale: 1.1 !important;
      }
      &:active {
        scale: 1.1 !important;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 20px;
        object-position: 30% 30%;
        pointer-events: none;
      }
      span {
        position: absolute;
        right: 0;
        bottom: 0;
        color: var(--primaryColor);
        background-color: var(--secondaryColor);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: var(--labelFontSize);
        text-transform: capitalize;
        pointer-events: none;
      }
    }
  }
  .mq-sec {
    width: 100%;
    min-height: 20svh;
    background: linear-gradient(
      to bottom,
      var(--trinityColor2),
      var(--trinityColor)
    );
    @include flex(column, center, center);
    padding: 1rem;
  }
  .quote-box {
    width: auto;
    color: var(--primaryColor);
    text-align: center;
    font-size: var(--subHeadingFontSize);
    font-family: boldFont;
    background-color: var(--secondaryColor);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0 10px var(--primaryColor);
    .top-quote {
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      translate: 25%;
    }
    .bottom-quote {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2rem;
      translate: -25%;
    }
  }
  .openBox {
    min-width: 100%;
    min-height: 100svh;
    padding: 2rem;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primaryColor);
    .top-wrapper {
      margin-bottom: 3rem;
      gap: 1rem;
      @include flex(row, space-between, flex-start);
      h2 {
        text-transform: capitalize;
        pointer-events: none;
        font-size: 1.5rem;
        font-family: boldFont;
        font-size: var(--subHeadingFontSize);
      }
      button {
        cursor: pointer;
        text-transform: capitalize;
        color: var(--primaryColor);
        background-color: var(--secondaryColor);
        font-size: var(--butFontSize);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
      }
    }
    .todo-mid-wrapper {
      width: 100%;
      @include flex(row, flex-start, center);
      gap: 2rem;
      .box {
        // flex: 1;
        width: 30%;
        height: 80svh;
        background-color: var(--trinityColor2);
        @include flex(column, flex-start, flex-start);
        gap: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        form {
          width: 100%;
          min-height: 50svh;
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          .textarea {
            resize: none;
          }
          .form-elem {
            border-radius: 0.5rem;
            flex: 1;
            width: 100%;
            padding: 1rem;
            background-color: var(--secondaryColor);
            color: var(--primaryColor);
            border: none;
          }
          ::placeholder {
            color: var(--primaryColor);
          }
          :focus {
            outline: 1px solid #e3e3e3;
          }
          :nth-child(2) {
            flex-grow: 4;
          }
          .input-wrapper {
            :nth-child(2) {
              margin-left: 0.5rem;
            }
          }
        }
        button {
          width: 100%;
          border-radius: 0.5rem;
          text-transform: uppercase;
          font-size: var(--butFontSize);
          color: var(--primaryColor);
          background-color: var(--secondaryColor);
          border: none;
          font-family: boldFont;
          flex-grow: 1;
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .box2 {
        flex-grow: 1;
        .compleateTodo,
        .emptyTodo {
          color: var(--primaryColor);
          text-align: center;
          width: 100%;
        }
        .todo-items {
          width: 100%;
          height: 70%;
          overflow-y: scroll;
          li {
            text-transform: capitalize;
            list-style: none;
            padding: 1rem;
            color: var(--primaryColor);
            line-height: 1.2;
            margin-bottom: 1rem;
            background-color: var(--secondaryColor);
            @include flex(row, space-between, flex-start);
            gap: 10px;
            details {
              summary {
                font-family: boldFont;
              }
              h3 {
                font-size: var(--labelFontSize);
                font-family: lightFont;
                padding-top: 0.5rem;
                padding-left: 1rem;
              }
            }
            :nth-child(2) {
              :nth-child(2) {
                margin-left: 0.3rem;
              }
              .active {
                color: var(--trinityColor2);
              }
            }
            .icons {
              text-wrap: nowrap;
            }
          }
        }
        .compleated-todo {
          height: 30%;
          overflow-y: scroll;
        }
      }
    }
    .task-mid-wrapper {
      width: 100%;
      background-color: var(--trinityColor2);
      @include flex(row, space-between, center);
      flex-wrap: wrap;
      gap: 1rem;
      border-radius: 1rem;
      padding: 1rem;
      height: 70svh;
      overflow-y: scroll;
      .wrapper {
        width: 48%;
        background-color: var(--secondaryColor);
        padding: 1rem;
        border-radius: 0.5rem;
        .time {
          font-size: var(--butFontSize);
          font-family: boldFont;
        }
        .task {
          margin-top: 0.5rem;
          input {
            background-color: transparent;
            width: 100%;
            border: none;
            color: var(--primaryColor);
            font-size: var(--labelFontSize);
            font-family: lightFont;
          }
          :focus {
            outline: none;
          }
          ::placeholder {
            color: var(--primaryColor);
          }
        }
      }
    }
    .kanban-mid-wrapper {
      @include flex(row, center, center);
      position: relative;
      gap: 1rem;
      .overlay{
        backdrop-filter:blur(5px);
        position:absolute;
        inset:0;
        @include flex(row, center, center);
        form{
          background-color:var(--trinityColor);
          @include flex(column,center,center);
          padding:1rem;
          gap:0.5rem;
          input{
            width:300px;
            height:60px;
            padding:1rem;
          }
          textarea{
            width:300px;
            height:100px;
            padding:1rem;
            resize: none;
          }
          button{
            opacity:0.5;
            cursor:not-allowed;
            padding: 0.5rem;
            font-size: var(--labelFontSize);
            color: var(--primaryColor);
            background-color: var(--secondaryColor);
            border: none;
            font-family: boldFont;
          }
        } 
      }
      .box {
        height:80svh;
        min-width: 250px;
        flex: 1;
        background-color: var(--trinityColor2);
        padding: 0.5rem;
        .box-top {
          min-height: 30px;
          background-color: var(--secondaryColor);
          padding: 0.3rem;
          @include flex(row, space-between, center);
          font-size: var(--labelFontSize);
          font-family: lightFont;
          margin-bottom: 0.5rem;
        }
        .items {
          height:94%;
          overflow-y: scroll;
          @include flex(column, flex-start, flex-start);
          gap: 0.5rem;
          .item {
            @include flex(column, flex-start, flex-start);
            width: 100%;
            background-color: var(--trinityColor);
            padding:0.5rem;
            text-transform: capitalize;
            p{
              font-family:lightFont;
              padding-top:10px;
              font-size:large;
            }
            button {
              font-size: var(--labelFontSize);
              color: var(--primaryColor);
              background-color: var(--secondaryColor);
              border: none;
              font-family: boldFont;
              align-self: flex-end;
               padding: 0.5rem;
               transition:all 0.5s ease;
               &:hover{
                scale:1.1;
                opacity:0.7;
               }
               &:active{
                scale:1.1;
                opacity:0.7;
               }
            }
          }
        }
      }
    }
    .pomodomo-mid-wrapper {
      width: 100%;
      min-height: 70svh;
      @include flex(row, center, center);
      background-color: var(--trinityColor2);
      flex-wrap: wrap;
      .left {
        flex: 1 1 400px;
        min-height: 60svh;
        background: linear-gradient(
          to right,
          var(--trinityColor2),
          var(--trinityColor),
          var(--trinityColor2)
        );
        video {
          width: 100%;
          max-height: 60svh;
          object-fit: cover;
          object-position: 70% 70%;
        }
      }
      .right {
        min-height: 60svh;
        flex: 1 1 400px;
        background: linear-gradient(
          to right,
          var(--trinityColor2),
          var(--trinityColor),
          var(--trinityColor2)
        );
        overflow: hidden;
        @include flex(column, center, center);
        gap: 2rem;
        .buttons-wrapper {
          @include flex(row, center, center);
          flex-wrap: wrap;
          gap: 1rem;
        }
        .time {
          font-family: boldFont;
          font-size: var(--headingFontSize);
          color: var(--primaryColor);
        }
        button {
          cursor: pointer;
          text-transform: capitalize;
          color: var(--primaryColor);
          background-color: var(--secondaryColor);
          font-size: var(--subHeadingFontSize);
          // font-family:lightFont;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 5px;
          transition: all 0.3s linear;
          &:hover {
            scale: 0.9;
            opacity: 0.8;
          }
          &:active {
            scale: 0.9;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
// utility classes
.hidden{
  display:none;
}
@media (max-width: 900px) {
  body {
    overflow: scroll;
  }
  .openBox {
    .todo-mid-wrapper {
      flex-direction: column !important;
      .box {
        padding: 1rem !important;
        width: 100% !important;
      }
      .box2 {
        .todo-items {
          li {
            :nth-child(2) {
              :nth-child(2) {
                margin-left: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .openBox {
    .task-mid-wrapper {
      .wrapper {
        width: 100% !important;
      }
    }
  }
}
