@import 'helper';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    background-color: var(--trinityColor);
    @include flex(row,center,flex-start);
    font-size:clamp(14px,1vw,18px);
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}
main{
    width:100%;
    max-width:3000px;
    min-height:100svh;
    height:100dvh;
    background-color: var(--trinityColor2);
    @include flex(column,flex-start,flex-start);
    flex-wrap:wrap;
    overflow-y:scroll;
    .showcase{
        width:100%;
        @include flex(row,center,center);
        gap:1rem;
        padding:2rem;
        flex-wrap:wrap;
        &:has(.box:hover) .box{
            scale:0.9;
        }
         &:has(.box:active) .box{
            scale:0.9;
        }
        .box{
        flex:1 1 250px;
        position: relative;
        @include flex(column,center,center);
        transition: all 0.3s linear;
        &:hover{
           scale:1.1 !important;
        }
        &:active{
           scale:1.1 !important;
        }
        img{
            width:100%;
            aspect-ratio:1/1;
            object-fit: cover;
            border-radius:20px;
            object-position:top;
        }
        span{
            position:absolute;
            right:0;
            bottom:0;
            color:var(--primaryColor);
            background-color: var(--secondaryColor);
            padding:0.5rem 1rem;
            border-radius:5px;
            font-size:2rem;
            text-transform:capitalize;
        }
    }
    }
}