@font-face {
  font-family: regularFont;
  src: url(assets/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: boldFont;
  src: url(assets/AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: lightFont;
  src: url(assets/AeonikTRIAL-Light.otf);
}
:root {
  --primaryColor:#E3E3E3;
  --secondaryColor:#456882;
  --trinityColor:#234C6A;
  --trinityColor2:#1B3C53;
  --butFontSize:clamp(0.9rem, 0.85rem + 0.2vw, 1rem);
  --labelFontSize:clamp(0.8rem, 0.75rem + 0.25vw, 0.95rem);
  --subHeadingFontSize:clamp(1.4rem, 1.2rem + 1vw, 2rem);
  --headingFontSize:clamp(2rem, 1.5rem + 3vw, 3.5rem);
  --bodyFontSize:clamp(0.95rem, 0.9rem + 0.3vw, 1.1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--trinityColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--bodyFontSize);
  font-family: regularFont;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  max-width: 3000px;
  background-color: var(--trinityColor2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}
main .showcase {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
}
main .showcase:has(.box:hover) .box {
  scale: 0.9;
}
main .showcase:has(.box:active) .box {
  scale: 0.9;
}
main .showcase .box {
  flex: 1 1 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
main .showcase .box:hover {
  scale: 1.1 !important;
}
main .showcase .box:active {
  scale: 1.1 !important;
}
main .showcase .box img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -o-object-position: top;
     object-position: top;
  pointer-events: none;
}
main .showcase .box span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: var(--labelFontSize);
  text-transform: capitalize;
  pointer-events: none;
}
main .openBox {
  width: 100%;
  min-height: 100svh;
  padding: 2rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primaryColor);
}
main .openBox .top-wrapper {
  margin-bottom: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
main .openBox .top-wrapper h2 {
  text-transform: capitalize;
  pointer-events: none;
  font-size: 1.5rem;
  font-family: boldFont;
  font-size: var(--subHeadingFontSize);
}
main .openBox .top-wrapper button {
  cursor: pointer;
  text-transform: capitalize;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  font-size: var(--butFontSize);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
main .openBox .todo-mid-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
main .openBox .todo-mid-wrapper .box {
  flex: 1;
  min-height: 70svh;
  background-color: var(--trinityColor2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
}
main .openBox .todo-mid-wrapper .box form {
  width: 100%;
  min-height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
main .openBox .todo-mid-wrapper .box form .textarea {
  resize: none;
}
main .openBox .todo-mid-wrapper .box form .form-elem {
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
  padding: 1rem;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
}
main .openBox .todo-mid-wrapper .box form ::-moz-placeholder {
  color: var(--primaryColor);
}
main .openBox .todo-mid-wrapper .box form ::placeholder {
  color: var(--primaryColor);
}
main .openBox .todo-mid-wrapper .box form :focus {
  outline: 1px solid #E3E3E3;
}
main .openBox .todo-mid-wrapper .box form :nth-child(2) {
  flex-grow: 4;
}
main .openBox .todo-mid-wrapper .box form .input-wrapper :nth-child(2) {
  margin-left: 0.5rem;
}
main .openBox .todo-mid-wrapper .box button {
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: var(--butFontSize);
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  border: none;
  font-family: boldFont;
  flex-grow: 1;
  opacity: 0.5;
  cursor: not-allowed;
}
main .openBox .todo-mid-wrapper .box2 {
  flex-grow: 2;
}
main .openBox .todo-mid-wrapper .box2 .emptyTodo {
  color: var(--primaryColor);
  text-align: center;
  width: 100%;
}
main .openBox .todo-mid-wrapper .box2 .todo-items {
  width: 100%;
  height: 60svh;
  overflow-y: scroll;
}
main .openBox .todo-mid-wrapper .box2 .todo-items li {
  text-transform: capitalize;
  list-style: none;
  padding: 1rem;
  color: var(--primaryColor);
  line-height: 1.2;
  margin-bottom: 1rem;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
main .openBox .todo-mid-wrapper .box2 .todo-items li details summary {
  font-family: boldFont;
}
main .openBox .todo-mid-wrapper .box2 .todo-items li details h3 {
  font-size: var(--labelFontSize);
  font-family: lightFont;
  padding-top: 0.5rem;
  padding-left: 1rem;
}
main .openBox .todo-mid-wrapper .box2 .todo-items li :nth-child(2) :nth-child(2) {
  margin-left: 0.3rem;
}
main .openBox .todo-mid-wrapper .box2 .todo-items li :nth-child(2) .active {
  color: var(--trinityColor2);
}
main .openBox .task-mid-wrapper {
  width: 100%;
  background-color: var(--trinityColor2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  height: 70svh;
  overflow-y: scroll;
}
main .openBox .task-mid-wrapper .wrapper {
  width: 48%;
  background-color: var(--secondaryColor);
  padding: 1rem;
  border-radius: 0.5rem;
}
main .openBox .task-mid-wrapper .wrapper .time {
  font-size: var(--butFontSize);
  font-family: boldFont;
}
main .openBox .task-mid-wrapper .wrapper .task {
  margin-top: 0.5rem;
}
main .openBox .task-mid-wrapper .wrapper .task input {
  background-color: transparent;
  width: 100%;
  border: none;
  color: var(--primaryColor);
  font-size: var(--labelFontSize);
  font-family: lightFont;
}
main .openBox .task-mid-wrapper .wrapper .task :focus {
  outline: none;
}
main .openBox .task-mid-wrapper .wrapper .task ::-moz-placeholder {
  color: var(--primaryColor);
}
main .openBox .task-mid-wrapper .wrapper .task ::placeholder {
  color: var(--primaryColor);
}

@media (max-width: 900px) {
  .openBox .todo-mid-wrapper {
    flex-direction: column !important;
  }
  .openBox .todo-mid-wrapper .box {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .openBox .task-mid-wrapper .wrapper {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */